.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex{
  display: flex;
}

.btn{
  border-radius: 25px;
  border: 1px solid white;
  padding: 10px;
  background-color: #4caf50;
  border-color: transparent;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 1em;
}

section{
  background-color: #fafafa;
  padding: 5em 3em;
}

.btn-primary{
  background-color: #92B4EC!important;
  border-color: #92b4ec!important;
  /* 92B4EC */
  /* FFD24C */
}